doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title= titulo
  body
    h1= titulo
    #container.col
      p.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt
        urna a turpis eleifend, ut congue tellus malesuada. Phasellus et rutrum elit,
        ullamcorper tincidunt enim. Duis sem metus, congue ac pulvinar ac,
        pharetra non dui. Proin nec elit ut augue aliquet suscipit id ut ligula.
        In eget elementum diam. Duis ac massa feugiat, consequat est eu, vestibulum
        enim. Aenean tincidunt, urna at egestas faucibus, leo massa hendrerit quam,
        quis tristique leo diam ac enim. Pellentesque non ipsum id felis faucibus
        accumsan. Vestibulum maximus eget tortor ut facilisis. Nulla eu risus
        ultricies, commodo est quis, facilisis metus. Maecenas vestibulum ligula at
        risus aliquet rutrum. Duis in diam at est sodales sollicitudin. Nunc efficitur,
        dio et congue tempor, sapien magna fringilla metus, vitae vestibulum turpis
        neque in metus. Suspendisse pretium vel tortor semper ultrices.
      hr
      h2 También puedo recorrer un array
      ul
        for fruta in frutas
          li Mi fruta favorita es #[strong #{fruta}]
      hr
      h2 Interpolación de caracteres
      p.
        Puedo agregar etiquetas en línea, por ejemplo, voy a agregar un link
        en este #[a(href='/' target='_blank' data-url='Raiz') párrafo]. Ve el código para mayor referencia.
      hr
      h3 Ejercicios de Express y PUG
      ul
        li #[a(href='/fernando/magrosoto') Redireccionar] una URL hacia otra
        li #[a(href='/inventario/camionetas/2018') Obtener] datos desde la URL
        li #[a(href='/mi-primer-plantilla') Este] es un ejemplo de plantillas dentro de plantillas
      hr
      // Remate
      footer(style='margin-top: 2em')
        p(style='margin: 0') Pruebas de Express
        p(style='margin: 0') Por: Fernando Magrosoto V.
